.DS_Store
.vscode
tmp.*
*.sym
*.r1cs
*.wtns
*.ptau
*.proving.key
node_modules
hardhat.config.js #this can contain private keys
.env
coverage
coverage.json
typechain
typechain-types
v2ArchRoadmap.md

#Hardhat files
cache
artifacts
data/abi

zk/node_modules
zk/out
zk/out.r1cs
zk/*.out
zk/tmp/
tmp.proving.key
tmp.verifying.key
tmp.out
tmp.witness
out.wtns

notes.txt
